.companyItem {
	padding: 1vh;
	font-weight: bold;
	font-size: large;
}

.companyItem:nth-of-type(odd){
    background-color: #d74f4f;
}

.companyItem:nth-of-type(even){
    background-color: #cae100;
}

.company-title {
  font-weight: bold;
  margin-top: 1vh;
  font-family: Roboto Condensed, sans-serif;
}
