.searchBar {
    text-align: end;
}

.yearItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.yearItem p {
    padding: 1vh;
}

td:hover {
    background-color: #2258c3;
}