.chart-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5vh;

}

.chart-container {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    margin: 0 auto;
    justify-content: space-around;
    width: 50vw;
}

.chart-title {
    margin: 1.5rem 0;
}