.chart-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5vh;

}

.chart-container {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    margin: 0 auto;
    justify-content: space-around;
}

.chart-title {
    margin: 1.5rem 0;
    color: #c4c0c0;
    font-family: Roboto Condensed, sans-serif;
}

@media screen and (min-width: 768px) {
    .chart-container {
        width: 50%;
    }
}
