.searchBar {
    width: 30%;
    float: right;
}

.searchBar label {
  width: 100%;
}

.yearItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.yearItem p {
    padding: 1.20vh;
    font-size: 1.5rem;
    font-family: Nunito Sans, sans-serif;
    font-weight: bold;
    font-style: oblique;
}

td:hover {
    background-color: #2258c3;
}

.table-label {
  color: #c4c0c0;
  font-weight: bold;
  padding-bottom: 1vh;
  font-size: 1.75rem;
  font-family: Roboto Condensed, sans-serif;
}

.money-label {
  white-space: nowrap;
}
