.hero-number {
    font-size: 1rem;
    font-family: Nunito Sans, sans-serif;
    font-weight: bold;
}

.total-market-revenue-wrapper {
    background-color: #9bc09c;
    color: #15701a;
    font-weight: 400;
}

.total-market-revenue-wrapper h3 {
    color: #15703c;
}

.total-revenue-growth-wrapper {
    background-color: #fecf97;
    color: #c36e03;
    font-weight: 400;
}

.total-revenue-growth-wrapper h3 {
    color: #c36e03;
}

.total-employees-wrapper {
    background-color: #cc8991;
    color: #9a303d;
    font-weight: 400;
}

.total-employees-wrapper h3 {
    color: #83232f;
}

.total-employees-growth-wrapper {
    background-color: #b998c1;
    color: #663d74;
    font-weight: 400;
}

.total-employees-growth-wrapper h3 {
    color: #663d74;
}
